{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Flossy{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'messages/style.css' %}"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-left">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img id="logo" src="{% static 'messages/images/floss.png' %}"></img></a>
        </div>
    <div id="topNavBar" class="navbar-collapse collapse">
      {% if user.get_username %}
      <ul class="nav navbar-nav">
          <li class="{% block contacts-active %}{% endblock %}"><a href="/messages"><i class="fa fa-address-book" ></i>&nbsp; My Contacts</a></li>
          <li class="{% block add-contact-active %}{% endblock %}"><a href="/add_contact"><i class="fa fa-plus" ></i>&nbsp; Add Contact</a></li>
          <li class="{% block settings-active %}{% endblock %}"><a href="/settings"><i class="fa fa-gear" ></i>&nbsp; Settings</a></li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li class="{% block admin-active %}{% endblock %}"><a href="/admin"><i class="fa fa-database" ></i>&nbsp; Admin</a></li>
      <li class="">
        {% if user.get_username %}
        <li class=""><a href="/logout"><i class="fa fa-power-off" ></i>&nbsp; {{ user.get_username }} (Logout) </a></li>
        {% else %}
        <li class=""><a href="/login"><i class="fa fa-power-off" ></i>&nbsp; Sign in</a></li>
        {% endif %}
      </li>
    </ul>
    </div>
  </div>
</nav>
<div class="container">
<div class="jumbotron">
  {% block body %}
  {% endblock %}
</div>
</div>
</body>
</html>
