{% extends 'messages/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="container-fluid">
    {% if user.get_username %}
    <h1 id=index_welcome>Welcome, {{ user.get_username }}<h1>
    {% else %}
    <h1 id=index_welcome>Welcome<h1>
    {% endif %}

    <p>We're a brand-new instant messaging service designed for you and your friends!</p>
    <p>This service is based on a modern & robust LEMP stack - Linux, Nginx, MySQL & Python, for 100% uptime, scalability and performance. It'll be made 100% open-source within a few months, after this gets submitted as my Computer Science project.</p>

</div>
<br>
{% if user.get_username %}
<div id=github-buttons>
  <iframe src="https://ghbtns.com/github-btn.html?user=snuggle&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
  <br>
  <iframe src="https://ghbtns.com/github-btn.html?user=snuggle&repo=flossy&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
<div>
{% endif %}
<img id='flossball' src={% static 'messages/images/flossball.png' %}>

{% endblock %}
