{% extends 'messages/base.html' %}
{% block contacts-active %}active{% endblock %}
{% block title %}{{ contact_context }}{% endblock %}

{% block body %}
<h2>{{ contact_context }}</h2>
  {% if error_message %}
    <strong>{{ error_message }}</strong>
  {% else %}
    {% for message in messages %}
    <li><b>{{ message.owner }}</b> ― {{ message.message_text }} <div class=datetime>{{ message.datetime }}</div></li>
    {% endfor %}
    {% for message in incomingMessages %}
    <li><b>{{ message.owner }}</b> ― {{ message.message_text }} <div class=datetime>{{ message.datetime }}</div></li>
    {% endfor %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="message" id="message", value=""/>
    <br><br>
    <div class="form-group">
        <div>
            <button type="Send" class="btn btn-success">Submit</button>
        </div>
    </div>
  {% endif %}

{% endblock %}
