{% extends 'messages/base.html' %} <!-- This gets the "base" HTML template -->
{% block contacts-active %}active{% endblock %} <!-- Set as active page in navbar -->
{% block title %}{{ contact_context }}{% endblock %} <!-- Set as contact as title -->

{% block body %}
<h2>{{ contact_context }}</h2>
  {% if error_message %} <!-- If there's any form of error, display it. -->
    <strong>{{ error_message }}</strong>
  {% else %}
    {% for message in messages %} <!-- For each message in the contact's message list -->
    <li><b>{{ message.owner }}</b> ― {{ message.message_text }} <div class=datetime>{{ message.datetime }}</div></li>
    {% endfor %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="message" id="message", value=""/>
    <br><br>
    <div class="form-group">
        <div>
            <button type="Send" class="btn btn-success">Submit</button>
        </div>
    </div>
  {% endif %}

{% endblock %}
