.navbar-inverse{
  background-color: #343a40
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}

strong{
  font-size: 20px;
}

.navbar{
  border-radius: 0;
}

.navbar-brand{
  font-family: 'Satisfy', cursive;
}

#logo {
	width: 37px;
}

#flossball {
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#github-buttons {
  padding-left: 1.5%
}

iframe {
 margin-top: 5px;
}
